@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'fonts';

$colgrey: #63718e;
$collightgrey: #f9fafc;
$coldarkgrey: #3a3a3a;
$colgreen: #4cae50;
$coldarkblue: #111563;
$collightblue: #286dbd;
$colfooter: #7e8183;

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.content {
  width: 100%;
  margin-top: 140px;
}

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 100px 60px 100px;
}

.itemcont {
  width: 100%;
  height: 90%;
  margin: 40px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
}

.wrap {
  width: 100%;
  margin: 20px;
}

.wrapfooter {
  width: 100%;
  max-width: 1100px;
  margin: 65px 0 65px 0;
}

.largewrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 10px;
  }

  &__txt {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: $coldarkgrey;

    &-light {
      font-size: 15px;
      line-height: 100%;
      color: $colgrey;
    }
  }
}

.notvisible {
  display: none;
}

#anruf {
  &:hover {
    color: $coldarkgrey;
  }

  &:hover path {
    fill: $coldarkgrey;
  }
}

.input {
  width: 253px;
  height: 50px;
  background: #ffffff;
  border: none;
  margin: 5px 0 5px 0;
  box-shadow: 0px 0px 1px #052953;
  border-radius: 10px;
  outline: none;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  transition: all 0.5s;

  &::placeholder {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    left: 20px;
  }

  &:focus {
    border-style: none;
    border: 1px solid #4cae50;
    box-sizing: border-box;
  }
}

@keyframes popup {
  0% {
    transform: rotate(45deg) scale(0) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1) translateX(0);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: popup 1s ease-in-out;
  z-index: 20;

  &__content {
    position: relative;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1017px;
    height: 100%;
    max-height: 507px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 35px;
  }

  &__img {
    border-radius: 35px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  }

  &__text {
    display: flex;
    margin: 50px 50px 50px 50px;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
  }

  &__title {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    color: #000;
    font-size: 36px;
  }

  &__description {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-size: 18px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__close {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__svg {
    top: 25px;
    right: 29px;
    position: absolute;

    & g {
      transition: all 0.3s;
    }

    &:hover g {
      opacity: 1;
    }
  }
}

.button {
  margin: 7px;
  width: 118px;
  height: 35px;
  border-radius: 10px;
  background-color: $colgreen;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: 'OpenSans';
  transition: all 0.4s;

  &:hover {
    box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
  }

  &-light {
    background-color: #fff;
    color: $colgrey;
    width: 125px;
    box-sizing: border-box;
    border: 2px solid $colgrey;

    &:hover {
      border: 2px solid $colgreen;
      color: $colgreen;
      box-shadow: none;
    }
  }

  &-middle {
    width: 200px;
    height: 56px;
  }

  &-large {
    width: 280px;
    height: 53px;
    margin: 0 0 20px 0;
  }

  &-big {
    width: 380px;
    height: 62px;
  }

  &-submit {
    height: 50px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 100vh;
  background-color: #fff;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__navbar {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__svg {
    & path {
      transition: all 0.5s;
    }

    &:hover path {
      fill: $coldarkgrey;
    }
  }

  &__link {
    text-decoration: none;

    & path {
      transition: all 0.5s;
    }

    &:hover li {
      color: $coldarkgrey;
    }

    &:hover path {
      fill: $coldarkgrey;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 7px;
    font-family: 'OpenSans';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: $colgrey;
    transition: all 0.5s;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__textcontent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__imagecontent {
    width: 50%;
  }

  &__image {
    width: 100%;
    z-index: 10;
  }

  &__title {
    font-family: 'Epilogue';
    font-size: 42px;
    line-height: 50.4px;
    color: $coldarkblue;
  }

  &__description {
    font-family: 'OpenSans';
    font-size: 18px;
    letter-spacing: 0.25px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: $colgrey;
    margin: 20px 0px;

    & span {
      color: $collightblue;
    }
  }
}

.main {
  width: 100%;
}

.requirements {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__field {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &-right {
      height: 100%;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__image {
    width: 100%;
  }

  &__text {
    top: 0;
    width: 100%;
    max-width: 590px;
  }

  &__title {
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: bold;
    color: $coldarkblue;
  }

  &__description {
    margin-top: 10px;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: normal;
    color: $colgrey;
    line-height: 27px;
  }
}

.mark {
  padding: 28px;
  transform: translateX(-20%) translateY(-75%);
  width: 380px;
  background-color: #fff;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;

  &-absolute {
    position: absolute;
    transform: translateX(52px) translateY(35px);
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Epilogue';
    font-size: 18px;
    font-weight: bold;
    color: $coldarkblue;
  }

  &__svg {
    width: 60px;
    height: 60px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e5fff0;
  }

  &__txt {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 24px;
    color: $colgrey;
  }
}

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;

  &__title {
    width: 100%;
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: bold;
    color: $coldarkblue;
    text-align: center;
  }

  &__description {
    width: 100%;
    margin: 16px 0 25px 0;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: 400;
    color: $colgrey;
    text-align: center;
  }

  &__list {
    width: 100%;
    max-width: 980px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__items {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 1/5 * 100%;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-large {
      width: 2/5 * 100%;
      max-width: 380px;
    }

    &-button {
      min-width: 180px;
    }
  }

  &__quantity {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid #000;
    transition: all 0.3s;
    background-color: $collightgrey;
    border-radius: 10px;
    border: none;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $coldarkgrey;
    box-sizing: border-box;

    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
      border: 1px solid $colgreen;
    }
  }

  &__btn {
    width: 18px;
    height: 18px;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: 400;
    color: $coldarkgrey;
    outline: none;

    &:hover {
      color: $colgreen;
    }
  }

  &__calendar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    outline: none;
    border: 1px solid #000;
    transition: all 0.3s;
    background-color: $collightgrey;
    border-radius: 10px;
    border: none;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $coldarkgrey;
    box-sizing: border-box;

    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
      border: 1px solid $colgreen;
    }
  }

  &__price {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colgreen;
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: 700;
  }
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: 700;
    color: $coldarkblue;
  }

  &__txt {
    margin-top: 16px;
    text-align: center;
    max-width: 840px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
    color: $colgrey;
  }

  &__numbers {
    margin-top: 25px;
    width: 100%;
    max-width: 780px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  &__number {
    border-radius: 50%;
    background-color: #e8f8ff;
    width: 40px;
    height: 40px;
    color: #bad9e7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;

    &-green {
      background-color: #e5fff0;
      color: $colgreen;
    }
  }

  &__line {
    flex-grow: 1;
    height: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #e8f8ff;

    &-green {
      background-color: $colgreen;
    }
  }

  &__texts {
    width: 100%;
    max-width: 980px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__txtitem {
    width: 1/4 * 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 16px;
    font-weight: 400;
    color: #bad9e7;

    &-green {
      color: $colgreen;
    }
  }
}

.stepthree {
  width: 100%;
  max-width: 950px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 10px;
    font-family: 'Epilogue';
    font-weight: bold;
    font-size: 32px;
    line-height: 23px;
    color: $coldarkblue;

    &-small {
      font-size: 22px;
    }

    &-grey {
      margin: 0;
      margin-left: 5px;
      font-weight: normal;
      color: $coldarkgrey;
      font-size: 22px;
      transition: all 0.5s;
    }
  }

  &__details {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__row {
    width: 100%;
    display: flex;
    margin-bottom: 30px;

    &-active h4 {
      color: $colgreen;
      font-weight: bold;
    }

    &-active div > div {
      background-color: $colgreen;
      width: 100%;
    }

    &:hover h4 {
      color: $colgreen;
      font-weight: bold;
    }

    &:hover div > div {
      background-color: $colgreen;
      width: 100%;
    }
  }

  &__line {
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40px;
  }

  &__horisontal {
    width: 50%;
    height: 1px;
    background-color: $coldarkgrey;
    transition: all 0.5s;
  }

  &__text {
    font-family: 'OpenSans';
    font-size: 16px;
    font-weight: normal;
    color: $coldarkgrey;
    margin-bottom: 20px;

    &-span {
      font-weight: bold;
      color: $colgreen;
    }
  }
}

.rating {
  & input {
    display: none;
  }

  & label svg > path {
    cursor: pointer;
    fill: transparent;
    stroke: #4cae50;
    transition: all 0.3s;
  }

  & label svg > path:hover,
  input:hover ~ label svg > path,
  input:checked ~ label svg > path {
    fill: #4cae50;
  }
}

.testimonials {
  width: 100%;
  display: flex;
  justify-content: center;

  &__title {
    width: 100%;
    text-align: center;
    font-family: 'Epilogue';
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: $coldarkblue;
  }

  &__description {
    width: 100%;
    margin-top: 16px;
    text-align: center;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $coldarkgrey;
  }

  &__list {
    width: 100%;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
  }

  &__item {
    width: 1/3 * 100%;
    max-width: 380px;
    display: flex;
    min-height: 500px;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
  }

  &__rate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__text {
    margin-right: 5px;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $coldarkgrey;
  }

  &__feedback {
    width: 100%;
    font-family: 'OpenSans';
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
    color: #737883;
    margin-top: 40px;
  }

  &__bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__name {
    margin-left: 10px;
    font-family: 'OpenSans';
    font-style: normal;
    font-size: 16px;
    color: $coldarkgrey;
  }

  &__details {
    font-family: 'OpenSans';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #737883;
  }

  &__biglist {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: $colgreen;
    font-family: 'Epilogue';
    font-weight: bold;
    font-size: 16px;
    text-decoration: dotted underline;
  }
}

.articles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__article {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &-center {
      justify-content: center;
    }

    &-start {
      justify-content: flex-start;
    }

    &-ajstart {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__title {
    width: 100%;
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: bold;
    color: $coldarkblue;
  }

  &__text,
  &__textfirst,
  &__textsecond,
  &__textthird {
    margin-top: 16px;
    width: 100%;
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $colgrey;

    & span {
      color: $colgreen;
    }

    &-large {
      width: 80%;
    }

    &-top {
      margin-top: 35px;
    }
  }

  &__phases {
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__first,
  &__second,
  &__third {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;

    &:hover .articles__line {
      width: 100%;
      height: 2px;
      background-color: $colgreen;
    }

    &:hover h4 {
      color: $colgreen;
      font-weight: bold;
    }
  }

  &__square {
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__line {
    width: 50%;
    height: 1px;
    background-color: $colgrey;
    transition: all 0.5s;
  }

  &__name {
    margin-left: 10px;
    font-family: 'Epilogue';
    font-size: 22px;
    font-weight: normal;
    color: $colgrey;
    transition: all 0.5s;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__img {
    width: 100%;
  }

  &__list {
    width: 100%;
    list-style-position: inside;
    list-style: disc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__item {
    width: 90%;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'OpenSans';
    font-size: 18px;
    color: $colgrey;

    &::marker {
      font-size: 1.2em;
      animation: markeranimate 1s infinite linear;
    }
  }

  &__imagebg {
    position: relative;
  }
}

.faqsection {
  width: 100%;
  display: flex;
  justify-content: center;

  &__title {
    width: 100%;
    text-align: center;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: $coldarkblue;

    &-small {
      text-align: start;
      font-family: 'OpenSans';
      font-size: 22px;
    }
  }

  &__item {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__arrow,
  &__arrowone,
  &__arrowtwo {
    transform: rotate(180deg);
    opacity: 0.5;
    transition: all 0.4s;

    &:hover {
      opacity: 1;
    }
  }

  &__description,
  &__descriptionone,
  &__descriptiontwo {
    border-top: 1px solid #f9fafc;
    margin-top: 15px;
    padding-top: 10px;
    width: 100%;
    font-family: 'OpenSans';
    font-size: 18px;
    color: $colgrey;
  }

  &__list {
    list-style: none;
    margin: 15px;
  }

  &__button {
    width: 100%;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1e1f;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
  }

  &__item {
    width: 1/4 * 100%;

    &-large {
      width: 2/4 * 100%;
      display: flex;
      justify-content: space-around;
    }
  }

  &__text {
    width: 100%;
    color: $colfooter;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    &-light {
      font-size: 14px;
      color: rgba(126, 129, 131, 0.5);
    }
  }

  &__link {
    text-decoration: none;
    color: $colfooter;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    transition: all 0.5s;

    &-text {
      display: block;
      margin-bottom: 15px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__stars {
    width: 100%;
    margin: 45px 0 45px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__star {
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 2px;
    margin-right: 4px;

    &-half {
      background: linear-gradient(#fff, #fff);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: left;
    }
  }

  &__starimg {
    height: 100%;
  }

  &__txt {
    margin-left: 10px;
    color: $colgreen;
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 16px;

    & span {
      color: $colfooter;
    }
  }

  &__dropdown {
    color: $colfooter;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 35px;
    border: 2px solid $colfooter;
    box-sizing: border-box;
    border-radius: 28px;
    font-family: 'Roboto';
  }

  &__arrow {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__socials {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__media {
    margin-bottom: 30px;

    &-mediadata {
      display: flex;
      align-items: center;
    }
  }

  &__social {
    margin-right: 10px;
    filter: grayscale(1);
    transition: all 0.3s;

    &:hover {
      filter: grayscale(0);
    }

    &-pay {
      filter: grayscale(0);

      &:hover svg > path {
        fill: #fff;
      }
    }
  }

  &__protected {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: $colfooter;
    text-transform: uppercase;

    & span {
      background: $colfooter;
      border-radius: 1px;
      color: #1c1e1f;
    }
  }

  &__copyright {
    width: 100%;
    margin-top: 30px;
  }

  &__copytext {
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    color: #565859;
  }
}

.rotate {
  transform: rotate(0);
}

@keyframes markeranimate {
  0% {
    color: $colgrey;
  }
  50% {
    color: $coldarkblue;
  }
  100% {
    color: $colgrey;
  }
}

.active .articles__line {
  width: 100%;
  height: 2px;
  background-color: $colgreen;
}

.active h4 {
  color: $colgreen;
  font-weight: bold;
}

.notvisibletext {
  transform: translateX(150%);
  display: none;
}

@keyframes animate {
  0% {
    background: $coldarkblue;
    background-size: 0%;
  }

  100% {
    background: $coldarkblue;
    background-size: 100%;
  }
}

.select {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  outline: none;
  background-color: $collightgrey;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s;
  border: none;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: $coldarkgrey;

  &:hover {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid $colgreen;
  }
}

.new-select {
  position: relative;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: #12b223;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url('path-to-image') no-repeat right center / cover;
  opacity: 0.6;
  transition: all 0.27s ease-in-out;
  transform: rotate(0deg);
}

.new-select.on:after {
  transform: rotate(180deg);
}
