@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'fonts';

$colgrey: #63718e;
$collightgrey: #f9fafc;
$coldarkgrey: #3a3a3a;
$colgreen: #4cae50;
$coldarkblue: #111563;
$collightblue: #286dbd;

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 100px 60px 100px;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
}

.largewrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 10px;
  }

  &__txt {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: $coldarkgrey;

    &-light {
      font-size: 15px;
      line-height: 100%;
      color: $colgrey;
    }
  }
}

.notvisible {
  display: none;
}

#anruf {
  &:hover {
    color: $coldarkgrey;
  }

  &:hover path {
    fill: $coldarkgrey;
  }
}

.input {
  width: 253px;
  height: 50px;
  background: #ffffff;
  border: none;
  margin: 5px 0 5px 0;
  box-shadow: 0px 0px 1px #052953;
  border-radius: 10px;
  outline: none;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  transition: all 0.5s;

  &::placeholder {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    left: 20px;
  }

  &:focus {
    border-style: none;
    border: 1px solid #4cae50;
    box-sizing: border-box;
  }
}

@keyframes popup {
  0% {
    transform: rotate(45deg) scale(0) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg) scale(1) translateX(0);
    opacity: 1;
  }
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: popup 1s ease-in-out;
  z-index: 20;

  &__content {
    position: relative;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1017px;
    height: 100%;
    max-height: 507px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 35px;
  }

  &__img {
    border-radius: 35px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  }

  &__text {
    display: flex;
    margin: 50px 50px 50px 50px;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
  }

  &__title {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    color: #000;
    font-size: 36px;
  }

  &__description {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-size: 18px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
  }

  &__close {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__svg {
    top: 25px;
    right: 29px;
    position: absolute;

    & g {
      transition: all 0.3s;
    }

    &:hover g {
      opacity: 1;
    }
  }
}

.button {
  margin: 7px;
  width: 118px;
  height: 35px;
  border-radius: 10px;
  background-color: $colgreen;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: 'OpenSans';
  transition: all 0.4s;

  &:hover {
    box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
  }

  &-light {
    background-color: #fff;
    color: $colgrey;
    width: 125px;
    box-sizing: border-box;
    border: 2px solid $colgrey;

    &:hover {
      border: 2px solid $colgreen;
      color: $colgreen;
      box-shadow: none;
    }
  }

  &-middle {
    width: 200px;
    height: 56px;
  }

  &-large {
    width: 280px;
    height: 53px;
    margin: 0 0 20px 0;
  }

  &-submit {
    height: 50px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // height: 100vh;
  background-color: #fff;

  &__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 88px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__navbar {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__items {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__svg {
    & path {
      transition: all 0.5s;
    }

    &:hover path {
      fill: $coldarkgrey;
    }
  }

  &__link {
    text-decoration: none;

    & path {
      transition: all 0.5s;
    }

    &:hover li {
      color: $coldarkgrey;
    }

    &:hover path {
      fill: $coldarkgrey;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 7px;
    font-family: 'OpenSans';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: $colgrey;
    transition: all 0.5s;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__textcontent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__imagecontent {
    width: 50%;
  }

  &__image {
    width: 100%;
    z-index: 10;
  }

  &__title {
    font-family: 'Epilogue';
    font-size: 42px;
    line-height: 50.4px;
    color: $coldarkblue;
  }

  &__description {
    font-family: 'OpenSans';
    font-size: 18px;
    letter-spacing: 0.25px;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: $colgrey;
    margin: 20px 0px;

    & span {
      color: $collightblue;
    }
  }
}

.main {
  width: 100%;
}

.requirements {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__field {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &-right {
      height: 100%;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__image {
    width: 100%;
  }

  &__mark {
    padding: 28px;
    transform: translateX(-20%) translateY(-75%);
    width: 380px;
    background-color: #fff;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
  }

  &__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Epilogue';
    font-size: 18px;
    font-weight: bold;
    color: $coldarkblue;
  }

  &__svg {
    width: 60px;
    height: 60px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e5fff0;
  }

  &__txt {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 24px;
    color: $colgrey;
  }

  &__text {
    top: 0;
    width: 100%;
    max-width: 590px;
  }

  &__title {
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: bold;
    color: $coldarkblue;
  }

  &__description {
    margin-top: 10px;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: normal;
    color: $colgrey;
    line-height: 27px;
  }
}

.price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;

  &__title {
    width: 100%;
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: bold;
    color: $coldarkblue;
    text-align: center;
  }

  &__description {
    width: 100%;
    margin: 16px 0 25px 0;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: 400;
    color: $colgrey;
    text-align: center;
  }

  &__list {
    width: 100%;
    max-width: 980px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__items {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 1/5 * 100%;
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-large {
      width: 2/5 * 100%;
      max-width: 380px;
    }

    &-button {
      min-width: 180px;
    }
  }

  &__quantity {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: 1px solid #000;
    transition: all 0.3s;
    background-color: $collightgrey;
    border-radius: 10px;
    border: none;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $coldarkgrey;
    box-sizing: border-box;

    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
      border: 1px solid $colgreen;
    }
  }

  &__btn {
    width: 18px;
    height: 18px;
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: 400;
    color: $coldarkgrey;
    outline: none;

    &:hover {
      color: $colgreen;
    }
  }

  &__calendar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    outline: none;
    border: 1px solid #000;
    transition: all 0.3s;
    background-color: $collightgrey;
    border-radius: 10px;
    border: none;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $coldarkgrey;
    box-sizing: border-box;

    &:hover {
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
      border: 1px solid $colgreen;
    }
  }

  &__price {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colgreen;
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: 700;
  }
}

.steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-family: 'Epilogue';
    font-size: 32px;
    font-weight: 700;
    color: $coldarkblue;
  }

  &__txt {
    margin-top: 16px;
    text-align: center;
    max-width: 840px;
    font-family: 'OpenSans';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
    color: $colgrey;
  }

  &__numbers {
    margin-top: 25px;
    width: 100%;
    max-width: 780px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  &__number {
    border-radius: 50%;
    background-color: #e8f8ff;
    width: 40px;
    height: 40px;
    color: #bad9e7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Epilogue';
    font-weight: 700;
    font-size: 20px;

    &-green {
      background-color: #e5fff0;
      color: $colgreen;
    }
  }

  &__line {
    flex-grow: 1;
    height: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #e8f8ff;

    &-green {
      background-color: $colgreen;
    }
  }

  &__texts {
    width: 100%;
    max-width: 900px;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__txtitem {
    font-family: 'OpenSans';
    font-size: 16px;
    font-weight: 400;
    width: 1/4 * 100px;
  }
}

@keyframes animate {
  0% {
    background: $coldarkblue;
    background-size: 0%;
  }

  100% {
    background: $coldarkblue;
    background-size: 100%;
  }
}

.select {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  outline: none;
  background-color: $collightgrey;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s;
  border: none;
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: $coldarkgrey;

  &:hover {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid $colgreen;
  }
}

.new-select {
  position: relative;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: #12b223;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url('path-to-image') no-repeat right center / cover;
  opacity: 0.6;
  transition: all 0.27s ease-in-out;
  transform: rotate(0deg);
}

.new-select.on:after {
  transform: rotate(180deg);
}
