@font-face {
  font-family: "Epilogue";
  font-display: swap;
  src: url("../fonts/EpilogueBold.woff") format("woff"), url("../fonts/EpilogueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Epilogue";
  font-display: swap;
  src: url("../fonts/EpilogueRegular.woff") format("woff"), url("../fonts/EpilogueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__text {
  margin-left: 10px;
}

.logo__txt {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #3a3a3a;
}

.logo__txt-light {
  font-size: 15px;
  line-height: 100%;
  color: #63718e;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

.header__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 88px;
  -webkit-box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
          box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
}

.header__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__svg path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__svg:hover path {
  fill: #3a3a3a;
}

.header__link {
  text-decoration: none;
}

.header__link path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__link:hover li {
  color: #3a3a3a;
}

.header__link:hover path {
  fill: #3a3a3a;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7px;
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #63718e;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  margin: 7px;
  width: 118px;
  height: 35px;
  border-radius: 10px;
  background-color: #4cae50;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: 'OpenSans';
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header__button:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
          box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
}

.header__button-light {
  background-color: #fff;
  color: #63718e;
  width: 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #63718e;
}

.header__button-light:hover {
  border: 2px solid #4cae50;
  color: #4cae50;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__button-large {
  width: 280px;
  height: 53px;
  margin: 0 0 20px 0;
}

.header__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__textcontent {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.header__imagecontent {
  width: 50%;
}

.header__image {
  width: 100%;
}

.header__title {
  font-family: 'Epilogue';
  font-size: 42px;
  line-height: 50.4px;
  color: #111563;
}

.header__description {
  font-family: 'OpenSans';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  color: #63718e;
  margin: 20px 0px;
}

.header__description span {
  color: #286dbd;
}